section.sobre
	.botoes
		+flexbox
		+align-items(center)
		+justify-content(center)
		margin: 50px 0
		text-align: center

		+make-sm-column(10)
		+make-sm-column-offset(1)

		+breakpoint($tablet)
			display: block


		[class^="botao-"]
			display: table
			margin: 20px 30px 20px 0 !important

			+breakpoint($tablet)
		 		display: inline-block
		 		margin: 20px 30px 20px 0 !important
		 		font-size: 20px
		 		padding: 9px 



	.texto
		+make-sm-column(8)
		+make-sm-column-offset(2)
		text-align: center
		margin: 30px 0 0 0

		.botao
			display: table
			margin: 30px auto