header
	margin: 0 0 25px 0

.lista
	ul
		+clearfix
		+make-row

		li
			+make-sm-column(4)
			+make-xs-column(6)
			overflow: hidden
			margin-bottom: 20px

			figure
				position: relative
				background-color: $branco

				&:hover
					a
						+opacity(1)

					.overlay
						top: 0

				img
					+img-responsive


				figcaption

					a
						position: absolute
						text-align: center
						z-index: 2
						color: $branco !important
						width: 100%
						top: 40%
						+opacity(0)

						h3
							+font-size(22px)


					a,
					.overlay
						+transition(.3s)

					.overlay
						position: absolute
						+gradient(60deg, $azul, $verde)
						+opacity(0.8)
						left: 0
						top: 100%
						z-index: 1
						width: 100%
						height: 100%

//======================================================================================//

.igrejas
	.conteudo
		+clearfix
		+make-row
		+breakpoint($desktop)
			max-height: 425px !important
			overflow: hidden !important

		.informacoes
			+make-sm-column(6)
			margin: 30px auto
			.foto
				img
					width: 100%
					height: 100%

		.maps
			+make-sm-column(6)
			margin: 30px auto
			height: 437px
			iframe
				height: 100%
				width: 100%

		+breakpoint($tablet)
			.informacoes
				+make-sm-column(10)
				+make-sm-column-offset(1)
				margin: 30px auto
				.foto
					img
						width:  100%

			.maps
				+make-sm-column(10)
				+make-sm-column-offset(1)
				margin: 30px auto
				height: 425px
				iframe
					height: 100%
					width: 100%
	
	.cultos
		text-align: center
		table
			+make-sm-column(10)
			+make-sm-column-offset(1)
			width: 100%

			th,
			td
				text-align: center!important
				
